#
# Take logs even when adb is not working.
# Thanks: markakash
#
# Usage: Copy this file to /vendor/etc/init/hw.
#        Add this line to your init.$(ro.hardware).rc file:
#        import /vendor/etc/init/hw/init.logcat.rc
#

on early-init
    mkdir /mnt
    mkdir /mnt/newlogfs
    mount ext4 /dev/block/sda25 /mnt/newlogfs rw
    rm /mnt/newlogfs/boot_lc_main.logcat
    rm /mnt/newlogfs/boot_dmesg.txt

    start boot_lc_main
    start boot_dmesg

service boot_lc_main /system/bin/logcat -f /mnt/newlogfs/boot_lc_main.logcat
    class main
    user root
    group root system
    disabled
    oneshot

service boot_dmesg /system/bin/sh -c "dmesg -w > /mnt/newlogfs/boot_dmesg.txt"
    class main
    user root
    group root system
    disabled
    oneshot